<div class="container bgBox">

    <br>
    <h2 class="newappointment_headerTxt">Follow the steps to book your appointment</h2>
    <br>

    <div class="row">

        <div class="dotsandlines">
            <div [className]="step1_show ? 'circle current' : 'circle'">1</div>

            <div class="line current"></div>

            <div [className]="step2_show ? 'circle current' : 'circle'">2</div>

            <div class="line"></div>

            <div [className]="step3_show ? 'circle current' : 'circle'">3</div>

            <div class="line"></div>

            <div [className]="step4_show ? 'circle current' : 'circle'">4</div>

        </div>
    </div>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <!--  end row -->


    <!-- new appointment steps -->
    <div class="row">
        <div class="col-sm-12">

            <div *ngIf="step1_show;">
                <kkd-patientappointmentstep1 [parent]=this [Appointment]="Appointment"
                    (AppointmentChange)="this.Appointment = $event"></kkd-patientappointmentstep1>
            </div>

            <div *ngIf="step2_show;">
                <kkd-patientappointmentstep2 [parent]=this [Appointment]="Appointment"
                    (AppointmentChange)="this.Appointment = $event" [catId]="catId" (catIdChange)="this.catId = $event">
                </kkd-patientappointmentstep2>
            </div>

            <div *ngIf="step3_show;">
                <kkd-patientappointmentstep3 [parent]=this [Appointment]="Appointment"
                    (AppointmentChange)="this.Appointment = $event"></kkd-patientappointmentstep3>
            </div>
            <div *ngIf="step4_show;">
                <kkd-quiz [parent]=this [Appointment]="Appointment" (AppointmentChange)="this.Appointment = $event"
                    [catId]="catId">
                </kkd-quiz>
            </div>
        </div>
    </div>
</div>