<div *ngIf="symptoms?.length;else NoDataFound">

  <mat-accordion>
    <mat-expansion-panel (ApID)="this.ApID = $event" *ngFor="let i = index; let item of symptoms"
      (opened)="setOpened(i)" (closed)="setClosed(i)">

      <mat-expansion-panel-header>
        <mat-panel-title>

          {{item.description}}

        </mat-panel-title>
        <mat-panel-description>
          <!-- <div class="smallcircle">{{item}}</div> -->
        </mat-panel-description>
        <mat-panel-description>
          {{ currentlyOpenedItemIndex === i ? 'Hide' : 'Show' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="text-align: center">{{ item.description }}</p>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #NoDataFound>
  <p style="text-align: center;color:rosybrown;font-size:18px">Result Not Found</p>
</ng-template>