<div class="container" class="newAppointment_Bg" style="overflow-x:hidden;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 headeTxt_specs align_1">
            Book Appointment / Consultation</div>
    </div>
    <br>
    <hr>

    <!-- Appointment stepper -->
    <div class="row">
        <div class="col">
            <div>
                <kkd-patientappointment-stepper [Appointment]="Appointment"></kkd-patientappointment-stepper>
            </div>
        </div>
    </div>
</div>
<!-- end container -->