<div class="container">
  <div class="row">
    <div class="heading">Todays Calendar</div>
  </div>
  <div class="row header-container">
    <div class="sub-heading">
      <div class="number">
        O6
      </div>
      <div class="header">
        Queue
      </div>
    </div>
    <div class="sub-heading-nonactve">
      <div class="number-nonactve">
        O3
      </div>
      <div class="header-nonactve">
        Earlier
      </div>
    </div>
    <div class="sub-heading-nonactve">
      <div class="number-nonactve">
        O6
      </div>
      <div class="header-nonactve">
        No Show
      </div>
    </div>
  </div>
</div>
<div class="container">
  <mat-card>
    <mat-card-title>
      <div class="row" style="display:inline-flex;margin-left:5%;">
        <div class="table-head">
          Patient
        </div>
        <div class="table-head">
          Action
        </div>
        <div class="table-head">
          Contact
        </div>
        <div class="table-head">
          Time
        </div>
        <div class="table-head">
          Reason
        </div>
      </div>
    </mat-card-title>
    <div>
      <mat-card-content class="content">
        <div style="display:inline-flex;">
          <div class="image">
            <img src="assets/image/braillesixdots.ico" style="width:70%;" />
          </div>
          <div class="SlNo">
            1
          </div>
          <div class="profile">
            <img class="profile" src="assets/image/virat.webp" />
          </div>
          <div class="names">
            <div class="name">
              Virat Kohli
            </div>
            <div class="age">
              Male 30yrs
            </div>
          </div>
          <div class="actions">
            <img class="tick" src="assets/image/tickmark.jpg" />
            <img class="wrong" src="assets/image/wrong.png" />
          </div>
          <div class="PhoneNumber">
            5566223355
          </div>
          <div class="Time">
            <p>12:00 AM</p>
          </div>
          <div class="Reason">
            hi this is a small story to be implemented and asked
          </div>
        </div>
      </mat-card-content>
    </div>
    <div>
      <mat-card-content class="content">
        <div style="display:inline-flex;">
          <div class="image">
            <img src="assets/image/braillesixdots.ico" style="width:70%;" />
          </div>
          <div class="SlNo">
            1
          </div>
          <div class="profile">
            <img class="profile" src="assets/image/virat.webp" />
          </div>
          <div class="names">
            <div class="name">
              Virat Kohli
            </div>
            <div class="age">
              Male 30yrs
            </div>
          </div>
          <div class="actions">
            <img class="tick" src="assets/image/tickmark.jpg" />
            <img class="wrong" src="assets/image/wrong.png" />
          </div>
          <div class="PhoneNumber">
            5566223355
          </div>
          <div class="Time">
            <p>12:00 AM</p>
          </div>
          <div class="Reason">
            hi this is a small story to be implemented and asked
          </div>
        </div>
      </mat-card-content>
    </div>
    <div>
      <mat-card-content class="content">
        <div style="display:inline-flex;">
          <div class="image">
            <img src="assets/image/braillesixdots.ico" style="width:70%;" />
          </div>
          <div class="SlNo">
            1
          </div>
          <div class="profile">
            <img class="profile" src="assets/image/virat.webp" />
          </div>
          <div class="names">
            <div class="name">
              Virat Kohli
            </div>
            <div class="age">
              Male 30yrs
            </div>
          </div>
          <div class="actions">
            <img class="tick" src="assets/image/tickmark.jpg" />
            <img class="wrong" src="assets/image/wrong.png" />
          </div>
          <div class="PhoneNumber">
            5566223355
          </div>
          <div class="Time">
            <p>12:00 AM</p>
          </div>
          <div class="Reason">
            hi this is a small story to be implemented and asked
          </div>
        </div>
      </mat-card-content>
    </div>
    <div>
      <mat-card-content class="content">
        <div style="display:inline-flex;">
          <div class="image">
            <img src="assets/image/braillesixdots.ico" style="width:70%;" />
          </div>
          <div class="SlNo">
            1
          </div>
          <div class="profile">
            <img class="profile" src="assets/image/virat.webp" />
          </div>
          <div class="names">
            <div class="name">
              Virat Kohli
            </div>
            <div class="age">
              Male 30yrs
            </div>
          </div>
          <div class="actions">
            <img class="tick" src="assets/image/tickmark.jpg" />
            <img class="wrong" src="assets/image/wrong.png" />
          </div>
          <div class="PhoneNumber">
            5566223355
          </div>
          <div class="Time">
            <p>12:00 AM</p>
          </div>
          <div class="Reason">
            hi this is a small story to be implemented and asked
          </div>
        </div>
      </mat-card-content>
    </div>
    <div>
      <mat-card-content class="content">
        <div style="display:inline-flex;">
          <div class="image">
            <img src="assets/image/braillesixdots.ico" style="width:70%;" />
          </div>
          <div class="SlNo">
            1
          </div>
          <div class="profile">
            <img class="profile" src="assets/image/virat.webp" />
          </div>
          <div class="names">
            <div class="name">
              Virat Kohli
            </div>
            <div class="age">
              Male 30yrs
            </div>
          </div>
          <div class="actions">
            <img class="tick" src="assets/image/tickmark.jpg" />
            <img class="wrong" src="assets/image/wrong.png" />
          </div>
          <div class="PhoneNumber">
            5566223355
          </div>
          <div class="Time">
            <p>12:00 AM</p>
          </div>
          <div class="Reason">
            hi this is a small story to be implemented and asked
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>